@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply m-0 min-h-screen w-full overflow-x-hidden bg-neutral-50 p-0;
}

* {
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
  @apply transition-all duration-500;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: #17171c;
}
::-webkit-scrollbar-thumb {
  background-color: #2b003a;
  border-radius: 0.25rem;
}

button {
  touch-action: manipulation;
}
